{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Password Reset Complete</h1>
          <p class="card-text">You have successfully reset your password.</p>
          <p class="card-text">Click <a href="{% url 'login' %}" class="card-link">here</a> to Login.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
