{% extends 'base.html' %}

{% block content %}
<style>
  .card{
    background: linear-gradient(45deg, #f8b195, #f67280);
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  h3{
    font-family: 'Leckerli One', cursive;
    font-size: 2em;
    color: #355c7d;
  }
  p{
    font-family: 'Mooli', cursive;
    font-size: 1.2em;
    color: #6c5b7b;
  }
</style>
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <div class="card-body">
          <h3 class="card-title">Hang Tight, Your Password Reset is on its Way!</h3>
          <p class="card-text">We've whisked away instructions for setting your password to the email address you provided. If there's an account associated with it, you'll find our message there shortly.</p>
          <p class="card-text">If our email seems to be taking the scenic route (and hasn't arrived), do double-check that you've entered the address you registered with us. And don't forget to peek into your spam folder - sometimes emails have an odd sense of adventure!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
