{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .card{
    background: linear-gradient(45deg, #f8b195, #f67280)
  }
  h1{
    font-family: 'Leckerli One', cursive;
  }
  .btn-primary {
    font-family: 'Mooli', cursive;
    background-color: #f67280;
    border-color: #f67280;
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px; /* Add a gap after the button */
    transition: background-color 0.5s ease; /* Smooth transition */
}

.btn-primary:hover {
  border: none;
  color: #333;
    background-color: #f8b195; /* Change color on hover */
}
.form-control {
  background-color: transparent !important;
  color:white !important;
  margin-bottom:15px; /* Increase gap between fields */
  font-size: 16px; /* Increase input font size */
  padding: 10px; /* Increase input padding */
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
</style>
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card password-reset-card">
    <div class="card-body">
      <h1 class="card-title">Reset Password</h1>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
