{% extends 'base.html' %}

{% block content %}
<style>
  .card{
    background: linear-gradient(45deg, #f8b195, #f67280);
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  }
  h1{
    font-family: 'Leckerli One', cursive;
    font-size: 2em;
    color: #355c7d;
  }
  p{
    font-family: 'Mooli', cursive;
    font-size: 1.2em;
    color: #6c5b7b;
  }
  a{
    color: #060506;
    text-decoration: none;
    transition: color 0.5s ease; /* Smooth transition */
  }
  a:hover{
    text-decoration: underline;
    color: #dc2537; /* Change color on hover */
  }
</style>
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4">
    <div class="card-body">
      <h1 class="card-title">Success! Your Password Has Been Reset</h1>
      <p class="card-text">Congratulations! You've successfully reset your password. Your account is now ready to be accessed with your new password.</p>
      <p class="card-text">Ready to dive back in? Click <a href="{% url 'login' %}" class="card-link">here</a> to log in and start exploring!</p>
    </div>
  </div>
</div>
{% endblock %}
