{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Reading</h2>
            {% if reading_books %}
                <ul class="list-group">
                    {% for book in reading_books %}
                    <li class="list-group-item book-item">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'books:book-detail' book.book.id %}">
                                <img src="{{ book.image_local.url }}" alt="{{ book.book.title }}" class="img-thumbnail book-image">
                                {{ book.book.title }}
                            </a>
                            <span class="completion-percentage">{{ book.page_number }} / {{ book.book.page_count }}</span>
                            <div class="actions">
                                {% include 'snippets/book_action.html' %}
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No books in reading list.</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>Completed</h2>
            {% if completed_books %}
                <ul class="list-group">
                    {% for book in completed_books %}
                    <li class="list-group-item">
                        <a href="{% url 'books:book-detail' book.book.id %}">
                            <img src="{{ book.image_local.url }}" alt="{{ book.book.title }}" class="img-thumbnail">
                            {{ book.book.title }}
                        </a>
                        <span class="badge badge-success">Completed</span>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No completed books.</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>Dropped</h2>
            {% if dropped_books %}
                <ul class="list-group">
                    {% for book in dropped_books %}
                    <li class="list-group-item">
                        <a href="{% url 'books:book-detail' book.book.id %}">
                            <img src="{{ book.image_local.url }}" alt="{{ book.book.title }}" class="img-thumbnail">
                            {{ book.book.title }}
                        </a>
                        <span class="badge badge-danger">Dropped</span>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No dropped books.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
