{% extends 'base.html' %}

{% block content %}
<style>
    h2{
        font-family: 'Leckerli One', cursive;
    }
    .card-title{
        font-weight: bold;
        font-family: "Dancing Script", cursive;
    }
    strong{
        font-family: 'Mooli', sans-serif;
    }
    .texts{
		font-family: 'Nunito Sans', sans-serif;
    }
    .link-no-decoration {
        text-decoration: none;
        color: black;
    }
    .link-no-decoration:hover {
        text-decoration: underline;
        color: black;
    }

</style>
<div class="container mt-5">
    <div class="row" style="background-color: aqua; border-radius: 15px;">
        <div class="col-md-12 mt-2">
            <h2>Reading</h2>
            {% if reading_books %}
                {% for book in reading_books %}
                <div class="row mb-4 mt-4">
                    <div class="col-md-2 text-center">
                        <img src="{{ book.book.image_local.url }}" alt="{{ book.book.title }}" class="img-fluid" style="max-height: 220px;">
                    </div>
                    <div class="col-md-10">
                        <div class="d-flex justify-content-start align-items-center" style="height: 100%;">
                            <div>
                                <a href="{% url 'books:book-detail' book.book.id %}" class="link-no-decoration">
                                    <h3 class="card-title no-hover">{{ book.book.title }}</h3>
                                </a>
                                <p class="card-text"><strong>Pages Read: </strong><span class="texts">{{ book.page_number }}  out of {{ book.book.page_count }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 2px solid #040404; margin-bottom: 15px;">
                {% endfor %}
            {% else %}
                <p>No books in the reading list.</p>
            {% endif %}
        </div>
    </div>
    
    
    
    
    <div class="row mt-4" style="background-color: lime; border-radius: 15px;">
        <div class="col-md-12 mt-2">
            <h2>Completed</h2>
            {% if completed_books %}
                {% for book in completed_books %}
                <div class="row mb-4 mt-4" >
                    <div class="col-md-2">
                        <img src="{{ book.book.image_local.url }}" alt="{{ book.book.title }}" class="img-fluid" style="max-height: 220px;">
                    </div>
                    <div class="col-md-10">
                        <div class="d-flex justify-content-start align-items-center" style="height: 100%;">
                            <div>
                                <a href="{% url 'books:book-detail' book.book.id %}" class="link-no-decoration">
                                    <h3 class="card-title no-hover">{{ book.book.title }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 2px solid #040404; margin-bottom: 15px;">
                {% endfor %}
            {% else %}
                <p>No books in the completed list.</p>
            {% endif %}
        </div>
    </div>
    
    <div class="row mt-4" style="background-color: rgb(231, 107, 36); border-radius: 15px;">
        <div class="col-md-12 mt-2">
            <h2>Dropped</h2>
            {% if dropped_books %}
                {% for book in dropped_books %}
                <div class="row mb-4 mt-4">
                    <div class="col-md-2 text-center">
                        <img src="{{ book.book.image_local.url }}" alt="{{ book.book.title }}" class="img-fluid" style="max-height: 220px;">
                    </div>
                    <div class="col-md-10">
                        <div class="d-flex justify-content-start align-items-center" style="height: 100%;">
                            <div>
                                <a href="{% url 'books:book-detail' book.book.id %}" class="link-no-decoration">
                                    <h3 class="card-title no-hover">{{ book.book.title }}</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="border-top: 2px solid #040404; margin-bottom: 15px;">
                {% endfor %}
            {% else %}
                <p>No books in the dropped list.</p>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
